AuthKit
Beaker
FormEncode
Mako
MarkupSafe
Paste
PasteDeploy
PasteScript
# PIL
Pygments
Pylons==0.9.7
Routes
SQLAlchemy
Tempita
WebError
WebHelpers
WebOb
WebTest
decorator
dnspython
elementtree
# lxml
nose
python-openid
simplejson
wsgiref 

